name: Python Test

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        python-version: ['3.10', '3.14']
    runs-on: ubuntu-latest
    if: "!endsWith(github.event.head_commit.message, '#ci skip')"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Test
        run: |
          python -V
          cd test
          python __init__.py
